{"swagger": "2.0", "info": {"title": "ITPAY API", "description": "API для интеграции с платежной системой ITPay. Подробная документация доступна в разделе 'Общая информация'.", "x-logo": {"url": "", "altText": "ITPAY logo"}, "version": "v1"}, "host": "api.gw.itpay.ru", "schemes": ["https", "http"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Merchant Authentication": {"type": "basic", "name": "Authorization", "in": "header", "description": "Логин и пароль, зашифрованные Base64. Example: Basic asd234kjbdsaf434="}, "JWT Authentication": {"type": "basic", "name": "Authorization", "in": "header", "description": "JWT токен. Example: Token eyJhbGciOiJkNGFjMDRkNmYiBRUZGeXhJQUFBQ"}}, "security": [{"JWT Authentication": []}, {"Merchant Authentication": []}], "paths": {"/admin-api/v1/accounts/{account_id}/message/": {"get": {"operationId": "admin-api_v1_accounts_message_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin-api"]}, "post": {"operationId": "admin-api_v1_accounts_message_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["admin-api"]}, "put": {"operationId": "admin-api_v1_accounts_message_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin-api"]}, "patch": {"operationId": "admin-api_v1_accounts_message_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin-api"]}, "delete": {"operationId": "admin-api_v1_accounts_message_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["admin-api"]}, "parameters": [{"name": "account_id", "in": "path", "required": true, "type": "string"}]}, "/admin-api/v1/registration/": {"get": {"operationId": "admin-api_v1_registration_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin-api"]}, "post": {"operationId": "admin-api_v1_registration_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["admin-api"]}, "put": {"operationId": "admin-api_v1_registration_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin-api"]}, "patch": {"operationId": "admin-api_v1_registration_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin-api"]}, "delete": {"operationId": "admin-api_v1_registration_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["admin-api"]}, "parameters": []}, "/admin-api/v1/registration/{registration_request_id}/acceptance/": {"post": {"operationId": "admin-api_v1_registration_acceptance_create", "description": "Отправить заявку на проверку", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["admin-api"]}, "parameters": [{"name": "registration_request_id", "in": "path", "required": true, "type": "string"}]}, "/admin-api/v1/registration/{registration_request_id}/acceptance_docs/": {"get": {"operationId": "admin-api_v1_registration_acceptance_docs_list", "description": "Получить список документов для заявку на регистрацию", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin-api"]}, "parameters": [{"name": "registration_request_id", "in": "path", "required": true, "type": "string"}]}, "/admin-api/v1/registration/{registration_request_id}/account/": {"post": {"operationId": "admin-api_v1_registration_account_create", "description": "Добавить в заявку на регистрацию данные аккаунта", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["admin-api"]}, "patch": {"operationId": "admin-api_v1_registration_account_partial_update", "description": "Добавить в заявку на регистрацию данные аккаунта", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin-api"]}, "parameters": [{"name": "registration_request_id", "in": "path", "required": true, "type": "string"}]}, "/admin-api/v1/registration/{registration_request_id}/additional_data/": {"post": {"operationId": "admin-api_v1_registration_additional_data_create", "description": "Добавить в заявку на регистрацию дополнительные данные", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["admin-api"]}, "parameters": [{"name": "registration_request_id", "in": "path", "required": true, "type": "string"}]}, "/admin-api/v1/registration/{registration_request_id}/authority/": {"post": {"operationId": "admin-api_v1_registration_authority_create", "description": "Добавить в заявку на регистрацию данные доверенности", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["admin-api"]}, "patch": {"operationId": "admin-api_v1_registration_authority_partial_update", "description": "Добавить в заявку на регистрацию данные доверенности", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin-api"]}, "parameters": [{"name": "registration_request_id", "in": "path", "required": true, "type": "string"}]}, "/admin-api/v1/registration/{registration_request_id}/bank/": {"post": {"operationId": "admin-api_v1_registration_bank_create", "description": "Добавить в заявку на регистрацию банковские реквизиты", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["admin-api"]}, "parameters": [{"name": "registration_request_id", "in": "path", "required": true, "type": "string"}]}, "/admin-api/v1/registration/{registration_request_id}/legal_entity/": {"post": {"operationId": "admin-api_v1_registration_legal_entity_create", "description": "Добавить в заявку на регистрацию юридическое лицо", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["admin-api"]}, "patch": {"operationId": "admin-api_v1_registration_legal_entity_partial_update", "description": "Добавить в заявку на регистрацию юридическое лицо", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin-api"]}, "parameters": [{"name": "registration_request_id", "in": "path", "required": true, "type": "string"}]}, "/admin-api/v1/utils/file_urls/": {"get": {"operationId": "admin-api_v1_utils_file_urls_list", "description": "Получить url для загрузки файла.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin-api"]}, "parameters": []}, "/v1/accounting_system/register/": {"post": {"operationId": "Регистрация учётной системы по одноразовому коду.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccountingSystemRegisterRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccountingSystemRegisterResponse"}}}, "tags": ["Учетные системы"]}, "parameters": []}, "/v1/accounting_system/sections/": {"get": {"operationId": "Получить список мест учетной системы.", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SectionGroupResponse"}}}, "tags": ["Учетные системы"]}, "parameters": []}, "/v1/alerts/": {"get": {"operationId": "Получить список уведомлений", "description": "Постраничный список app-уведомлений от новых к старым. Данные отдаются только если аккаунт достоверно идентифицирован (JWT)", "parameters": [{"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AlertsPagination"}}}, "tags": ["Уведомления"]}, "parameters": []}, "/v1/alerts/unread/": {"get": {"operationId": "Количество непрочитанных уведомлений", "description": "Вернет alerts_count. Данные отдаются только если аккаунт достоверно идентифицирован (JWT)", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AlertsUnreadCountResponse"}}}, "tags": ["Уведомления"]}, "parameters": []}, "/v1/alerts/{alert_id}/": {"get": {"operationId": "Получить уведомление по ID", "description": "Данные отдаются только если аккаунт достоверно идентифицирован (JWT)", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppAlertIDGetResponse"}}}, "tags": ["Уведомления"]}, "parameters": [{"name": "alert_id", "in": "path", "required": true, "type": "string"}]}, "/v1/alerts/{alert_id}/read/": {"post": {"operationId": "Отметить уведомление прочитанным", "description": "Устанавливает is_read=true и readed=now(). Работает только если аккаунт достоверно идентифицирован (JWT)", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AlertsReadSuccessResponse"}}}, "tags": ["Уведомления"]}, "parameters": [{"name": "alert_id", "in": "path", "required": true, "type": "string"}]}, "/v1/api/events/": {"get": {"operationId": "Получить события WebHook", "description": "", "parameters": [{"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}, {"name": "start_date", "in": "query", "description": "Период с:", "type": "string"}, {"name": "end_date", "in": "query", "description": "Период по:", "type": "string"}, {"name": "status", "in": "query", "description": "Статус события (PaymentEvent.status)", "type": "string", "enum": ["new", "in_progress", "received", "retrying", "not_received", "no_signed"]}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApiEventsListDocResponse"}}}, "tags": ["API"]}, "parameters": []}, "/v1/api/events/{event_id}/logs/": {"get": {"operationId": "Получить логи попыток доставки WebHook", "description": "", "parameters": [{"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}, {"name": "start_date", "in": "query", "description": "Период с:", "type": "string"}, {"name": "end_date", "in": "query", "description": "Период по:", "type": "string"}, {"name": "status_code", "in": "query", "description": "HTTP статус ответа получателя (PaymentEventLog.status_code)", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApiEventLogsListDocResponse"}}}, "tags": ["API"]}, "parameters": [{"name": "event_id", "in": "path", "required": true, "type": "string"}]}, "/v1/api/events/{event_id}/repeat/": {"post": {"operationId": "Повторить доставку события WebHook", "description": "Повторно ставит событие в очередь на доставку.\n\nОграничение: повтор доступен только для статусов `not_received` и `no_signed`.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApiEventCard"}}}, "tags": ["API"]}, "parameters": [{"name": "event_id", "in": "path", "required": true, "type": "string"}]}, "/v1/api/keys/": {"get": {"operationId": "Получить список API-ключей", "description": "", "parameters": [{"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApiKeysListDocResponse"}}}, "tags": ["API"]}, "post": {"operationId": "Создать API-ключ", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ApiKeyCreateRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApiKeyCreate"}}}, "tags": ["API"]}, "parameters": []}, "/v1/api/keys/{key_id}/": {"delete": {"operationId": "Удалить API-ключ", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResponseSuccess"}}}, "tags": ["API"]}, "parameters": [{"name": "key_id", "in": "path", "required": true, "type": "string"}]}, "/v1/api/requests/": {"get": {"operationId": "Получить список запросов", "description": "", "parameters": [{"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}, {"name": "start_date", "in": "query", "description": "Период с:", "type": "string"}, {"name": "end_date", "in": "query", "description": "Период по:", "type": "string"}, {"name": "status_code", "in": "query", "description": "HTTP статус ответа (ApiRequest.status_code)", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApiRequestsListDocResponse"}}}, "tags": ["API"]}, "parameters": []}, "/v1/api/webhook/": {"get": {"operationId": "Получить настройки WebHook", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WebhookConfig"}}}, "tags": ["API"]}, "post": {"operationId": "Обновить настройки WebHook", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WebhookConfigPostRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WebhookConfig"}}}, "tags": ["API"]}, "delete": {"operationId": "Удалить настройки WebHook", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WebhookConfig"}}}, "tags": ["API"]}, "parameters": []}, "/v1/auth/activation/renew": {"post": {"operationId": "Перевыпуск invite_token по email", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ActivationRenewRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ActivationRenewResponse"}}}, "tags": ["Авторизация"]}, "parameters": []}, "/v1/auth/by_apple": {"post": {"operationId": "Получить JWT-токен c токеном Apple", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AppleAuthRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppleAuthResponse"}}, "400": {"description": "Специфичные для данного метода коды ошибок.", "schema": {"$ref": "#/definitions/AppleAuthResponseSpecificError"}}}, "tags": ["Авторизация"]}, "parameters": []}, "/v1/auth/by_email": {"post": {"operationId": "Аутентификация по email", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/EmailAuthRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/EmailAuthResponse"}}, "400": {"description": "Специфичные для данного метода коды ошибок.", "schema": {"$ref": "#/definitions/EmailAuthResponseSpecificError"}}}, "tags": ["Авторизация"]}, "parameters": []}, "/v1/auth/by_google": {"post": {"operationId": "Получить JWT-токен c токеном Google.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/GoogleAuthRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/GoogleAuthResponse"}}, "400": {"description": "Специфичные для данного метода коды ошибок", "schema": {"$ref": "#/definitions/GoogleAuthResponseSpecificError"}}}, "tags": ["Авторизация"]}, "parameters": []}, "/v1/auth/by_max": {"post": {"operationId": "Создать JWT токен на основе MAX Web-App", "description": "Аутентификация через MAX Web-App", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MaxAuth"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MaxAuthResponse"}}}, "tags": ["Авторизация"]}, "parameters": []}, "/v1/auth/by_profiles": {"post": {"operationId": "Получить JWT-токен c токеном-проекта ProfilesID.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProfilesIDAuthRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProfilesIDAuthResponse"}}, "400": {"description": "Специфичные для данного метода коды ошибок", "schema": {"$ref": "#/definitions/ProfilesIDAuthResponseSpecificError"}}}, "tags": ["Авторизация"]}, "parameters": []}, "/v1/auth/by_telegram": {"post": {"operationId": "Создать JWT токен на основе Telegram Web-App", "description": "Аутентификация через Telegram Web-App", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TelegramAuth"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TelegramAuthResponse"}}}, "tags": ["Авторизация"]}, "parameters": []}, "/v1/auth/magic/{token}": {"get": {"operationId": "Верификация Magic Link", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MagicLinkVerifyResponse"}}, "400": {"description": "Токен невалиден, использован или истёк.", "schema": {"$ref": "#/definitions/MagicLinkVerifyError"}}}, "tags": ["Авторизация"]}, "parameters": [{"name": "token", "in": "path", "required": true, "type": "string"}]}, "/v1/auth/refresh": {"post": {"operationId": "Обновление access JWT", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AuthRefreshRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AuthRefreshResponse"}}, "400": {"description": "Refresh token невалиден или истёк.", "schema": {"$ref": "#/definitions/AuthRefreshError"}}}, "tags": ["Авторизация"]}, "parameters": []}, "/v1/cashlinks/": {"get": {"operationId": "Получить список кассовых ссылок", "description": "", "parameters": [{"name": "place_id", "in": "query", "description": "ID места", "required": false, "type": "string", "minLength": 1}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CashLinksResponse"}}}, "tags": ["Кассовые ссылки"]}, "post": {"operationId": "Создать кассовую ссылку.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CashLinkPostRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CashLinkResponse"}}, "400": {"description": "Специфичные для данного метода коды ошибок.", "schema": {"$ref": "#/definitions/CashLinkCreateResponseSpecificError"}}}, "tags": ["Кассовые ссылки"]}, "parameters": []}, "/v1/cashlinks/{cashlink_id__or__external_id}/": {"get": {"operationId": "Получить кассовую ссылку", "description": "Идентификаторы в url: id, external_id.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CashLinkResponse"}}}, "tags": ["Кассовые ссылки"]}, "patch": {"operationId": "Изменить кассовую ссылку", "description": "Идентификаторы в url: id, external_id.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CashLinkPatchRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CashLinkResponse"}}}, "tags": ["Кассовые ссылки"]}, "delete": {"operationId": "Удалить кассовую ссылку", "description": "Идентификаторы в url: id, external_id.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResponseSuccess"}}}, "tags": ["Кассовые ссылки"]}, "parameters": [{"name": "cashlink_id__or__external_id", "in": "path", "required": true, "type": "string"}]}, "/v1/cashlinks/{cashlink_id__or__external_id}/download/{lang}/": {"get": {"operationId": "Скачать QR кассовой ссылки", "description": "Идентификаторы в url: id, external_id.", "parameters": [], "responses": {"200": {"description": "PDF-файл с QR-кодом", "schema": {"type": "file"}}}, "tags": ["Кассовые ссылки"]}, "parameters": [{"name": "cashlink_id__or__external_id", "in": "path", "required": true, "type": "string"}, {"name": "lang", "in": "path", "required": true, "type": "string"}]}, "/v1/catalog/categories/": {"get": {"operationId": "Получить категории каталога", "description": "", "parameters": [{"name": "shop_id", "in": "query", "description": "ID магазина. Обязательна для фронтовой авторизации.", "required": false, "type": "integer", "x-nullable": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CatalogCategoriesGetResponse"}}}, "tags": ["Каталог магазина"]}, "parameters": []}, "/v1/catalog/items/": {"get": {"operationId": "Получить каталог", "description": "", "parameters": [{"name": "shop_id", "in": "query", "description": "ID магазина. Обязательна для фронтовой авторизации.", "required": false, "type": "integer", "x-nullable": true}, {"name": "category_name", "in": "query", "description": "Название категории для фильтрации.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CatalogItemGet"}}}, "tags": ["Каталог магазина"]}, "post": {"operationId": "Создать позицию каталога", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CatalogItemPostRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CatalogItemResponse"}}}, "tags": ["Каталог магазина"]}, "parameters": []}, "/v1/catalog/items/{catalog_item_id}/": {"get": {"operationId": "Получить позицию каталога по id", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CatalogItemResponse"}}}, "tags": ["Каталог магазина"]}, "patch": {"operationId": "Изменить позицию магазина", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CatalogItemPatchRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CatalogItemResponse"}}}, "tags": ["Каталог магазина"]}, "delete": {"operationId": "Удалить позицию магазина", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResponseSuccess"}}}, "tags": ["Каталог магазина"]}, "parameters": [{"name": "catalog_item_id", "in": "path", "required": true, "type": "string"}]}, "/v1/code_errors/": {"get": {"operationId": "Список ошибок", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResponseCodeErrors"}}}, "tags": ["Системные данные"]}, "parameters": []}, "/v1/docs/api-description": {"get": {"operationId": "Описание работы с API", "description": "<style>\n.endpoint {\n    background: #f8f9fa;\n    border: 1px solid #dee2e6;\n    border-radius: 6px;\n    padding: 12px 16px;\n    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;\n    font-size: 14px;\n    color: #495057;\n    margin: 16px 0;\n}\n.api-keys {\n    margin: 16px 0;\n}\n.key-type {\n    font-weight: 600;\n    color: #2c5aa0;\n}\n/* Скрываем технические элементы для overview разделов */\n\n/* Скрываем URL пути */\n[data-section-id*=\"operation/Описание\"] .operation-path,\n[data-section-id*=\"operation/Проверка\"] .operation-path,\n[data-section-id*=\"operation/События\"] .operation-path,\n.operation-path,\n.sc-hzUIXC {\n    display: none !important;\n}\n\n/* Скрываем Responses секции */\n[data-section-id*=\"operation/Описание\"] h3:contains(\"Responses\"),\n[data-section-id*=\"operation/Проверка\"] h3:contains(\"Responses\"),\n[data-section-id*=\"operation/События\"] h3:contains(\"Responses\"),\nh3.sc-fIxmyt,\n.sc-jSFjdj,\n.responses-section {\n    display: none !important;\n}\n\n/* Скрываем все что содержит \"Responses\" */\n*:contains(\"Responses\") {\n    display: none !important;\n}\n\n/* Глобальное скрытие технических блоков для overview операций */\n[data-section-id*=\"Описание\"] .sc-fIxmyt,\n[data-section-id*=\"Проверка\"] .sc-fIxmyt,\n[data-section-id*=\"События\"] .sc-fIxmyt,\n[data-section-id*=\"Описание\"] button,\n[data-section-id*=\"Проверка\"] button,\n[data-section-id*=\"События\"] button {\n    display: none !important;\n}\n</style>\n\n<div class=\"endpoint\">\n    <strong>Endpoint:</strong> https://api.gw.itpay.ru/v1/\n</div>\n\n<div>Для аутентификации запроса используется <strong>HTTP Basic Auth</strong> — отправка логина и пароля в заголовке HTTP-запроса.</div>\n<div style=\"margin-top: 8px;\">В качестве логина используется <strong>Public ID</strong>, в качестве пароля — <strong>API Secret</strong>.</div>\n<div style=\"margin-top: 8px;\">Оба этих значения можно получить при регистрации. API Secret может быть изменен по запросу Клиента.</div>\n\n<h4>Структура ответов API</h4>\n<div>Все ответы API обернуты в следующую структуру:</div>\n\n<div style=\"background: #f8f9fa; border: 1px solid #e1e5e9; border-radius: 6px; padding: 16px; margin: 12px 0;\">\n    <strong>Структура ответа:</strong><br/>\n    &#8226; <strong>error</strong>: null или описание ошибки<br/>\n    &#8226; <strong>error_code</strong>: null или код ошибки<br/>\n    &#8226; <strong>api_version</strong>: \"1.1.0\"<br/>\n    &#8226; <strong>data</strong>: объект с данными ответа\n</div>\n\n<div class=\"api-keys\">\n    <h4>Типы ключей авторизации</h4>\n    <div style=\"padding-left: 16px;\">\n        &#8226; <span class=\"key-type\">NoAuth</span> — методы, доступные без авторизации<br/>\n        &#8226; <span class=\"key-type\">ShopKey</span> — ключи магазина для работы с методами API<br/>\n        &#8226; <span class=\"key-type\">AccountKey</span> — токен авторизации под конкретным оператором магазина\n    </div>\n</div>\n\n\n<script>\n// Скрываем технические элементы (URL, Responses, кнопки) для overview разделов\n// НО НЕ скрываем GET лейблы\nfunction hideOverviewTechnicalElements() {\n    // Скрываем все технические секции в overview операциях\n    const overviewContainers = document.querySelectorAll('[data-section-id*=\"operation/Описание\"], [data-section-id*=\"operation/Проверка\"], [data-section-id*=\"operation/События\"]');\n    overviewContainers.forEach(function(container) {\n        // Скрываем все элементы кроме описания\n        const elementsToHide = container.querySelectorAll(\n            '.operation-path, .sc-hzUIXC, h3, .sc-fIxmyt, .sc-jSFjdj, button, [class*=\"security\"], [class*=\"authorization\"], [class*=\"parameters\"], [class*=\"request\"], [class*=\"response\"]:not(.redoc-markdown)'\n        );\n\n        elementsToHide.forEach(function(el) {\n            // Не скрываем наш контент\n            if (!el.closest('.redoc-markdown') && !el.closest('.endpoint') && !el.closest('.api-keys')) {\n                // Проверяем содержит ли элемент \"Responses\"\n                if (el.textContent && el.textContent.includes('Responses')) {\n                    el.style.display = 'none';\n                }\n                // Скрываем H3 заголовки которые не являются нашими\n                else if (el.tagName === 'H3' && !el.closest('.redoc-markdown')) {\n                    el.style.display = 'none';\n                }\n                // Скрываем кнопки\n                else if (el.tagName === 'BUTTON') {\n                    el.style.display = 'none';\n                }\n                // Скрываем остальные технические элементы\n                else if (el.classList.length > 0) {\n                    el.style.display = 'none';\n                }\n            }\n        });\n    });\n\n    // Дополнительное скрытие по тексту - только Responses, НО НЕ GET!\n    document.querySelectorAll('*').forEach(function(el) {\n        if (el.textContent === 'Responses') {\n            el.style.display = 'none';\n            el.style.visibility = 'hidden';\n            el.style.opacity = '0';\n        }\n    });\n}\n\n// Запускаем несколько раз для надежности\nsetTimeout(hideOverviewTechnicalElements, 300);\nsetTimeout(hideOverviewTechnicalElements, 800);\nsetTimeout(hideOverviewTechnicalElements, 1500);\n\n// Наблюдаем за изменениями DOM\nif (window.MutationObserver) {\n    const observer = new MutationObserver(hideOverviewTechnicalElements);\n    observer.observe(document.body, {childList: true, subtree: true});\n}\n</script>\n", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Общая информация"], "security": []}, "parameters": []}, "/v1/docs/authentication": {"get": {"operationId": "Проверка подлинности", "description": "<div>Для проверки подлинности каждое сообщение от ITPay подписывается. ITPay генерирует подписи, используя код аутентификации сообщения на основе хэша (HMAC) с SHA-256.</div>\n\n<h4>Пример заголовка подписи</h4>\n<div style=\"background: #f8f9fa; border: 1px solid #e1e5e9; border-radius: 6px; padding: 12px; margin: 12px 0;\">\n    <strong>itpay-signature:</strong> t=1492774577,v1=88c4d0812782112fceb1b18b679b231d484b01b8241c397a6732f1a14742d2c0\n</div>\n\n<h4>Алгоритм расшифровки подписи</h4>\n<ol>\n    <li>Получить timestamp сообщения из заголовка \"itpay-signature\", параметр \"t\"</li>\n    <li>Подготовить строку signed_payload путем соединения следующих значений:</li>\n    <ul>\n        <li>timestamp сообщения, полученный в п.1</li>\n        <li>символ: \".\"</li>\n        <li>значение параметра \"data\" в json формате из полученного сообщения</li>\n    </ul>\n    <li>Получить значение hash HMAC с SHA-256 используя API Secret как ключ, а signed_payload как сообщение</li>\n    <li>Сравните полученный hash с тем, который передан в параметре \"v1\" заголовка \"itpay-signature\"</li>\n</ol>\n\n<style>\n/* Скрываем технические элементы для секции аутентификации */\n[data-section-id*=\"operation/Проверка\"] .operation-path,\n[data-section-id*=\"operation/Проверка\"] .sc-hzUIXC,\n[data-section-id*=\"operation/Проверка\"] h3:contains(\"Responses\"),\n[data-section-id*=\"operation/Проверка\"] .sc-fIxmyt,\n[data-section-id*=\"operation/Проверка\"] .sc-jSFjdj,\n[data-section-id*=\"operation/Проверка\"] button {\n    display: none !important;\n}\n\n/* Скрываем все что содержит \"Responses\" только в этой секции */\n[data-section-id*=\"operation/Проверка\"] *:contains(\"Responses\") {\n    display: none !important;\n}\n</style>\n\n<script>\n// Скрываем технические элементы для секции аутентификации\n// НО НЕ скрываем GET лейблы\nfunction hideAuthTechnicalElements() {\n    const container = document.querySelector('[data-section-id*=\"operation/Проверка\"]');\n    if (container) {\n        const elementsToHide = container.querySelectorAll('.operation-path, .sc-hzUIXC, h3, .sc-fIxmyt, .sc-jSFjdj, button, [class*=\"response\"]:not(.redoc-markdown)');\n        elementsToHide.forEach(function(el) {\n            if (!el.closest('.redoc-markdown')) {\n                if (el.textContent && el.textContent.includes('Responses')) {\n                    el.style.display = 'none';\n                }\n                else if (el.tagName === 'H3' && !el.closest('.redoc-markdown')) {\n                    el.style.display = 'none';\n                }\n                else if (el.tagName === 'BUTTON') {\n                    el.style.display = 'none';\n                }\n                else if (el.classList.length > 0) {\n                    el.style.display = 'none';\n                }\n            }\n        });\n    }\n\n    // Дополнительное скрытие Responses - НО НЕ GET!\n    document.querySelectorAll('[data-section-id*=\"operation/Проверка\"] *').forEach(function(el) {\n        if (el.textContent === 'Responses') {\n            el.style.display = 'none';\n            el.style.visibility = 'hidden';\n            el.style.opacity = '0';\n        }\n    });\n}\n\nsetTimeout(hideAuthTechnicalElements, 300);\nsetTimeout(hideAuthTechnicalElements, 800);\nsetTimeout(hideAuthTechnicalElements, 1500);\n\nif (window.MutationObserver) {\n    const observer = new MutationObserver(hideAuthTechnicalElements);\n    observer.observe(document.body, {childList: true, subtree: true});\n}\n</script>\n", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Общая информация"], "security": []}, "parameters": []}, "/v1/docs/webhook-events": {"get": {"operationId": "События в WebHook", "description": "<style>\n.key-type {\n    font-weight: 600;\n    color: #2c5aa0;\n}\n</style>\n\n<div><strong>WebHook событие</strong> — HTTP POST-запрос от ITPay к вашему серверу для уведомления о важных изменениях в статусе платежей и других операций.</div>\n\n<div style=\"margin-top: 8px;\">Система автоматически отправляет уведомления о ключевых событиях: успешные и неуспешные платежи, возвраты, формирование чеков и другие изменения статусов.</div>\n\n<div style=\"margin-top: 8px;\">Адрес для отправки уведомления <strong>webhook_url</strong> указывается при регистрации магазина и может быть изменен по запросу в поддержку.</div>\n\n<h4>Повторные попытки доставки</h4>\n<div>Если система не сможет соединиться с webhook_url или получит некорректный ответ, будет совершено <strong>10 попыток</strong> доставить сообщение с интервалом между повторами в минутах: <strong>1, 2, 5, 10, 30</strong>.</div>\n<div style=\"margin-top: 8px;\">Тайм-аут ожидания ответа — <strong>30 секунд</strong>. Менее чем в 1% случаев задержка доставки может достигать 2 минуты. В остальных случаях — меньше 1 секунды.</div>\n\n<h4>Структура WebHook события</h4>\n<div>Все WebHook события отправляются как POST запросы с одинаковой структурой:</div>\n\n<div style=\"background: #f8f9fa; border: 1px solid #e1e5e9; border-radius: 6px; padding: 16px; margin: 12px 0;\">\n    <strong>Структура WebHook события:</strong><br/>\n    &#8226; <strong>id</strong>: уникальный идентификатор события<br/>\n    &#8226; <strong>object</strong>: \"event\"<br/>\n    &#8226; <strong>type</strong>: тип события (см. список ниже)<br/>\n    &#8226; <strong>created</strong>: временная метка создания<br/>\n    &#8226; <strong>data</strong>: объект с данными события\n</div>\n\n<div style=\"margin-top: 12px;\"><strong>Важно:</strong> В случае корректной обработки на стороне сервера Клиента в ответ должен быть отправлен Response с HTTP статусом 200 и телом ответа <strong>{\"status\":0}</strong></div>\n\n<h4>Типы WebHook событий</h4>\n<div style=\"padding-left: 16px;\">\n    &#8226; <span class=\"key-type\">payment.pay</span> — отправляется после получения оплаты от пользователя<br/>\n    &#8226; <span class=\"key-type\">payment.completed</span> — отправляется после успешного завершения всего цикла платежа<br/>\n    &#8226; <span class=\"key-type\">payment.rejected</span> — отправляется при отклонении оплаты эквайером (окончательный статус)<br/>\n    &#8226; <span class=\"key-type\">payment.errored</span> — отправляется при возникновении ошибки в процессе платежа<br/>\n    &#8226; <span class=\"key-type\">payment.cancelled</span> — отправляется при отмене неоплаченного платежа<br/>\n    &#8226; <span class=\"key-type\">payment.refund</span> — отправляется после успешного завершения возврата (data содержит модель Refund)<br/>\n    &#8226; <span class=\"key-type\">payment.receipt</span> — отправляется после успешного формирования чека<br/>\n    &#8226; <span class=\"key-type\">payment.feedback</span> — отправляется после добавления отзыва к платежу<br/>\n    &#8226; <span class=\"key-type\">payment.token</span> — отправляется при активации токена сохранения карты\n</div>\n\n<style>\n.key-type {\n    font-weight: 600;\n    color: #2c5aa0;\n}\n\n/* Скрываем технические элементы для секции webhook */\n[data-section-id*=\"operation/События\"] .operation-path,\n[data-section-id*=\"operation/События\"] .sc-hzUIXC,\n[data-section-id*=\"operation/События\"] h3:contains(\"Responses\"),\n[data-section-id*=\"operation/События\"] .sc-fIxmyt,\n[data-section-id*=\"operation/События\"] .sc-jSFjdj,\n[data-section-id*=\"operation/События\"] button {\n    display: none !important;\n}\n\n/* Скрываем все что содержит \"Responses\" только в этой секции */\n[data-section-id*=\"operation/События\"] *:contains(\"Responses\") {\n    display: none !important;\n}\n</style>\n\n<script>\n// Скрываем технические элементы для секции webhook\n// НО НЕ скрываем GET лейблы\nfunction hideWebhookTechnicalElements() {\n    const container = document.querySelector('[data-section-id*=\"operation/События\"]');\n    if (container) {\n        const elementsToHide = container.querySelectorAll('.operation-path, .sc-hzUIXC, h3, .sc-fIxmyt, .sc-jSFjdj, button, [class*=\"response\"]:not(.redoc-markdown)');\n        elementsToHide.forEach(function(el) {\n            if (!el.closest('.redoc-markdown')) {\n                if (el.textContent && el.textContent.includes('Responses')) {\n                    el.style.display = 'none';\n                }\n                else if (el.tagName === 'H3' && !el.closest('.redoc-markdown')) {\n                    el.style.display = 'none';\n                }\n                else if (el.tagName === 'BUTTON') {\n                    el.style.display = 'none';\n                }\n                else if (el.classList.length > 0) {\n                    el.style.display = 'none';\n                }\n            }\n        });\n    }\n\n    // Дополнительное скрытие Responses - НО НЕ GET!\n    document.querySelectorAll('[data-section-id*=\"operation/События\"] *').forEach(function(el) {\n        if (el.textContent === 'Responses') {\n            el.style.display = 'none';\n            el.style.visibility = 'hidden';\n            el.style.opacity = '0';\n        }\n    });\n}\n\nsetTimeout(hideWebhookTechnicalElements, 300);\nsetTimeout(hideWebhookTechnicalElements, 800);\nsetTimeout(hideWebhookTechnicalElements, 1500);\n\nif (window.MutationObserver) {\n    const observer = new MutationObserver(hideWebhookTechnicalElements);\n    observer.observe(document.body, {childList: true, subtree: true});\n}\n</script>\n", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Общая информация"], "security": []}, "parameters": []}, "/v1/kassa/integration/": {"post": {"operationId": "Создать интеграцию с кассой", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/KassaIntegrationCreate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KassaResponse"}}}, "tags": ["Кассы"]}, "parameters": []}, "/v1/kassa/integration/request/": {"post": {"operationId": "Заявка на неподдерживаемого провайдера кассы", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/KassaIntegrationRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KassaIntegrationRequestResponse"}}}, "tags": ["Кассы"]}, "parameters": []}, "/v1/kassa/providers/": {"get": {"operationId": "Получить список провайдеров касс", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KassaProviders"}}}, "tags": ["Кассы"]}, "parameters": []}, "/v1/kassa/receipt/reference/": {"get": {"operationId": "Получить справочник параметров чека кассы", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KassaReceiptReference"}}}, "tags": ["Кассы"]}, "parameters": []}, "/v1/kassa/registration/": {"post": {"operationId": "Создать новую кассу", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/KassaRegistrationCreate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KassaRegistrationResponse"}}}, "tags": ["Кассы"]}, "parameters": []}, "/v1/kassa/registration/requisites/": {"get": {"operationId": "Получить недостающие реквизиты для регистрации кассы", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KassaRegistrationRequisitesResponse"}}}, "tags": ["Кассы"]}, "parameters": []}, "/v1/kassa/{kassa_id}/": {"get": {"operationId": "Получить кассу", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KassaResponse"}}}, "tags": ["Кассы"]}, "patch": {"operationId": "Обновить кассу", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/KassaUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KassaResponse"}}}, "tags": ["Кассы"]}, "delete": {"operationId": "Удалить кассу", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Кассы"]}, "parameters": [{"name": "kassa_id", "in": "path", "required": true, "type": "string"}]}, "/v1/kassa/{kassa_id}/test/": {"post": {"operationId": "Протестировать интеграцию с кассой", "description": "", "parameters": [], "responses": {"200": {"description": "Идентификатор созданной задачи тестирования", "schema": {"type": "object", "properties": {"task_id": {"description": "Идентификатор задачи", "type": "string", "format": "uuid"}}}}, "400": {"description": "Ошибка валидации или создания задачи"}, "404": {"description": "Касса не найдена или недоступна"}, "500": {"description": "Внутренняя ошибка сервера"}}, "tags": ["Кассы"]}, "parameters": [{"name": "kassa_id", "in": "path", "required": true, "type": "string"}]}, "/v1/lead/": {"post": {"operationId": "Создать заявку с сайта", "description": "\nПриём заявки с публичного сайта itpay.ru. Метод публичный: авторизация не требуется.\n\nОбязательные поля: `name`, `email` и `consent` (должно быть `true`).\nНеобязательные: `phone`, `company`, `inn`, `page`. Неизвестные поля тела игнорируются.\n\nОтветы:\n- 200 — заявка принята, в `data` возвращаются `id` и `created`;\n- 400 (`error_code=10400`) — ошибки валидации: в `error` карта «поле → список сообщений».\n  Этим же кодом отклоняется слишком большое тело запроса и запрос без заголовка\n  `Content-Length`;\n- 429 (`error_code=10429`) — превышено ограничение частоты запросов.\n\nПовторная заявка с тем же `email` в пределах окна подавления дублей возвращает 200 с\nидентификатором ранее созданной заявки: новая заявка не создаётся.\n\nЧтение заявок через публичный API не предусмотрено.\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LeadPostRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LeadPostResponse"}}}, "tags": ["Заявки с сайта"], "security": []}, "parameters": []}, "/v1/loyalty/cards/": {"get": {"operationId": "Получить карту лояльности.", "description": "", "parameters": [{"name": "shop_id", "in": "query", "description": "ID магазина, к которому принадлежит программа лояльности.", "required": false, "type": "integer", "minimum": 1, "x-nullable": true}, {"name": "card_id", "in": "query", "description": "ID карты в конкретной программе лояльности.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}, {"name": "card_number", "in": "query", "description": "Номер карты в конкретной программе лояльности.", "required": false, "type": "string", "x-nullable": true}, {"name": "user_id", "in": "query", "description": "ID пользователя в конкретной программе лояльности.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}, {"name": "user_phone", "in": "query", "description": "Номер телефона пользователя.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LoyaltyCardFullResponse"}}}, "tags": ["Лояльность"]}, "post": {"operationId": "Добавить карту лояльности к заказу.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LoyaltyCardAddToOrderRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LoyaltyTaskPendingResponse"}}}, "tags": ["Лояльность"]}, "delete": {"operationId": "Отвязать карту лояльности от заказа.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LoyaltyCardDeleteFromOrderRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LoyaltyTaskPendingResponse"}}}, "tags": ["Лояльность"]}, "parameters": []}, "/v1/loyalty/cards/{card_id}/": {"patch": {"operationId": "Обновить комментарий карты лояльности", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LoyaltyCardCommentUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LoyaltyCardFullResponse"}}}, "tags": ["Лояльность"]}, "parameters": [{"name": "card_id", "in": "path", "required": true, "type": "string"}]}, "/v1/loyalty/cards/{card_id}/prizes/": {"get": {"operationId": "Получить карту лояльности с призами.", "description": "", "parameters": [{"name": "payment_id", "in": "query", "description": "ID платежа. Обязателен, если 'order_id' не заполнен.", "required": false, "type": "string", "format": "uuid"}, {"name": "order_id", "in": "query", "description": "ID заказа. Обязателен, если 'payment_id' не заполнен.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LoyaltyCardWithPrizes"}}}, "tags": ["Лояльность"]}, "parameters": [{"name": "card_id", "in": "path", "required": true, "type": "string"}]}, "/v1/loyalty/cards/{card_id}/prizes/block/": {"post": {"operationId": "Заблокировать призы по карте лояльности.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LoyaltyCardPrizeBlockRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LoyaltyTaskPendingResponse"}}}, "tags": ["Лояльность"]}, "parameters": [{"name": "card_id", "in": "path", "required": true, "type": "string"}]}, "/v1/loyalty/cards/{card_id}/prizes/unblock/": {"post": {"operationId": "Снять блокировку призов по карте лояльности.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LoyaltyCardPrizeUnblockRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LoyaltyTaskPendingResponse"}}}, "tags": ["Лояльность"]}, "parameters": [{"name": "card_id", "in": "path", "required": true, "type": "string"}]}, "/v1/orders/": {"get": {"operationId": "Получить список заказов", "description": "", "parameters": [{"name": "end_date", "in": "query", "description": "Период по... ('external_updated'). Пример 2024-06-24T15:30:00Z", "required": false, "type": "string", "format": "date-time"}, {"name": "state", "in": "query", "required": false, "type": "string", "enum": ["new", "paying", "bill", "completed", "error", "cancelled", "deleted"]}, {"name": "start_date", "in": "query", "description": "Период с... ('external_updated'). Пример 2024-06-24T15:30:00Z", "required": false, "type": "string", "format": "date-time"}, {"name": "has_gw_payments", "in": "query", "description": "Есть платежи GW", "required": false, "type": "boolean"}, {"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}, {"name": "search", "in": "query", "description": "Поиск по номеру заказа, номеру стола и наименованию стола (частичное вхождение), а также по сумме заказа (точное совпадение).", "type": "string"}, {"name": "stars", "in": "query", "description": "Оценка в отзыве (список чисел от 1 до 5). Через запятую.", "type": "array", "items": {"type": "integer", "enum": [1, 2, 3, 4, 5]}, "collectionFormat": "csv"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrdersResponse"}}}, "tags": ["Заказы"]}, "post": {"operationId": "Создать заказ", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OrderCreateRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrderResponse"}}}, "tags": ["Заказы"]}, "parameters": []}, "/v1/orders/removal-types/": {"get": {"operationId": "Получить справочник причин списания позиции", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/PaymentOrderRemovalType"}}}}, "tags": ["Заказы"]}, "parameters": []}, "/v1/orders/writeoff-payment-types/": {"get": {"operationId": "Получить справочник типов списания при закрытии заказа", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/PaymentOrderWriteoffPaymentType"}}}}, "tags": ["Заказы"]}, "parameters": []}, "/v1/orders/{order_id}/": {"get": {"operationId": "Получить заказ по ID", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrderResponse"}}}, "tags": ["Заказы"]}, "patch": {"operationId": "Обновить заказ", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OrderUpdateRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrderResponse"}}}, "tags": ["Заказы"]}, "delete": {"operationId": "Удалить заказ", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OrderDeleteRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrderResponse"}}}, "tags": ["Заказы"]}, "parameters": [{"name": "order_id", "in": "path", "required": true, "type": "string"}]}, "/v1/orders/{order_id}/close/": {"post": {"operationId": "Закрыть заказ", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Тело закрытия заказа (все поля опциональны). См. контракт AccountingSystemOrdersService.close_order (TSK0006285, фазы 11-13).", "type": "object", "properties": {"closure_mode": {"description": "Режим закрытия: `pay` (по умолчанию) — оплата, `writeoff` — списание", "type": "string", "enum": ["pay", "writeoff"]}, "writeoff_payment_type_id": {"description": "ID типа списания (см. /v1/payment/orders/writeoff-payment-types/). Обязателен при closure_mode=writeoff", "type": "string", "format": "uuid"}, "removal_type_id": {"description": "ID причины списания (см. /v1/payment/orders/removal-types/)", "type": "string", "format": "uuid"}, "cashier_id": {"description": "ID кассира", "type": "string", "format": "uuid"}, "comment": {"description": "Комментарий / причина списания", "type": "string"}, "writeoff_to_cafe": {"description": "Списать на кафе; разрешено только если removal_type поддерживает can_writeoff_to_cafe", "type": "boolean"}}}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrderResponse"}}}, "tags": ["Заказы"]}, "parameters": [{"name": "order_id", "in": "path", "required": true, "type": "string"}]}, "/v1/orders/{order_id}/items/": {"post": {"operationId": "Добавить позиции в заказ", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OrderAddItemsRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrderResponse"}}}, "tags": ["Заказы"]}, "parameters": [{"name": "order_id", "in": "path", "required": true, "type": "string"}]}, "/v1/orders/{order_id}/items/{item_id}/": {"patch": {"operationId": "Обновить позицию заказа", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OrderItemUpdateRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrderResponse"}}}, "tags": ["Заказы"]}, "delete": {"operationId": "Удалить позицию заказа", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OrderItemDeleteRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrderItemDeletedResponse"}}}, "tags": ["Заказы"]}, "parameters": [{"name": "order_id", "in": "path", "required": true, "type": "string"}, {"name": "item_id", "in": "path", "required": true, "type": "string"}]}, "/v1/orders/{order_id}/items/{item_id}/comment/": {"delete": {"operationId": "Удалить комментарий позиции заказа", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrderItemDeletedResponse"}}}, "tags": ["Заказы"]}, "parameters": [{"name": "order_id", "in": "path", "required": true, "type": "string"}, {"name": "item_id", "in": "path", "required": true, "type": "string"}]}, "/v1/orders/{order_id}/payment/": {"post": {"operationId": "Создать платеж по заказу", "description": "Создаёт платёж по существующему заказу.\n\nТело запроса поддерживает опциональное поле `cash_link_id` (UUID `CashLink.id`).\n\nСемантика:\n- `cash_link_id` не передан — поведение прежнее (обратная совместимость): создаётся `Payment` без привязки к `CashLink`.\n- `cash_link_id` передан — `Payment.cash_link` привязывается к указанной кассовой ссылке; мерчант `CashLink` должен совпадать с мерчантом `Order`. `Order` при этом не модифицируется (в частности, `Order.merchant_place` не изменяется).\n\nCounter-`Order` (заказ с проставленным `merchant`, но без `merchant_place`) поддерживается: при валидном `cash_link_id` того же мерчанта платёж создаётся штатно, `Order` не модифицируется, виртуальный `Place` не создаётся.\n\nТело также поддерживает опциональное поле `loyalty_card_id` (CharField, max_length=50). Это карта лояльности гостя для override на конкретный Payment.\n\nСемантика: если поле не передано — карта наследуется из `Order.loyalty_card_id`. Если передано — записывается в `Payment.loyalty_card_id` напрямую (override), при этом `Order.loyalty_card_id` НЕ изменяется. Пустая строка отбивается валидатором (`allow_blank=False`).\n\nВозможные коды ошибок:\n- `400 e10400` — ошибка валидации тела запроса либо несоответствие мерчанта `CashLink` мерчанту `Order`.\n- `403 e10403` — `Order` принадлежит другому мерчанту (определяется по API-ключу запрашивающего). Исключение — системный frontend-ключ (`itpay/itpay`): SSR-фронтенд представляет покупателя, ownership не сверяется, мерчант платежа всегда берётся из `Order`.\n- `404 e10404` — `Order` не найден, либо `CashLink` не найдена, либо `CashLink` находится в состоянии `deleted` / `not_used`.\n- `400 e10500` — исключение при создании платежа в транзакции.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OrdersIDCreatePaymentRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentResponse"}}}, "tags": ["Заказы"]}, "parameters": [{"name": "order_id", "in": "path", "required": true, "type": "string"}]}, "/v1/payments": {"post": {"operationId": "Создать платеж", "description": "API. Create payment by Client.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PaymentRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentResponse"}}}, "tags": ["Платежи"]}, "parameters": []}, "/v1/payments/templates/{template_id}": {"post": {"operationId": "Создать платеж по шаблону", "description": "Создаёт платёж по шаблону и отдаёт его QR-код.\n\nУ шаблона с общим статическим кодом НСПК (`is_nspk` с заполненным `qrc_id`) платёж по запросу страницы плательщика может не создаваться: тогда приходит `400` с кодом `11228` - оплата такого шаблона идёт через страницу оплаты по шаблону (`GET /v1/templates/{template_id}/payment-info`), где плательщику показывается статический код. Шаблоны без кода НСПК и шаблоны с персональным кодом (`qrc_id` пуст) отвечают как прежде.\n\nПрочие отказы: `400` с кодом `11226` - у шаблона не указана сумма; `400` с кодом `10400` - шаблон не найден либо платёж создать не удалось; `400` с кодом `10715` - платёж создан, но чек по нему создать не удалось; `424` с кодами `10500` и `10520` - не читается конфигурация платёжного метода или его провайдера.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentResponse"}}, "400": {"description": "Специфичные для данного метода коды ошибок", "schema": {"$ref": "#/definitions/PaymentByTemplateResponseSpecificError"}}}, "tags": ["Платежи"]}, "parameters": [{"name": "template_id", "in": "path", "required": true, "type": "string"}]}, "/v1/payments/token/": {"post": {"operationId": "Оплата платежа по токену", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PayByTokenRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentResponse"}}}, "tags": ["Платежи"]}, "parameters": []}, "/v1/payments/{id}": {"get": {"operationId": "Получить платеж по id", "description": "Получение информации о платеже по id.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentResponse"}}}, "tags": ["Платежи"]}, "put": {"operationId": "Инициализировать платеж", "description": "Фактически результатом является оплата или получение данных для оплаты.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PaymentRequestPut"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentResponse"}}, "400": {"description": "Специфичные для данного метода коды ошибок", "schema": {"$ref": "#/definitions/PaymentPutResponseSpecificError"}}}, "tags": ["Платежи"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/v1/payments/{id}/services": {"get": {"operationId": "Получить платёжные сервисы платежа с лентами банков", "description": "Платёжные сервисы, доступные на коде НСПК этого платежа, и на каждый сервис - лента банков с готовыми ссылками `desktop`/`android`/`ios`. Форма ссылок совпадает с `payment_qr_urls` ответа платежа.\n\nЛенту стоит запрашивать лениво, при открытии списка банков: на десктопе она не нужна, там плательщик видит один QR из универсальной ссылки `desktop`, а выбор между СБП и цифровым рублём делает приложение банка.\n\nКоды сервисов совпадают с `payment_services` ответа платежа. Пустой `payment_services` означает, что лент нет: платёж не по СБП либо код ещё не зарегистрирован в НСПК.\n\nДля ленты цифрового рубля выбор банка на нашей стороне не регистрируется: `PUT /v1/payments/{id}` для неё вызывать не нужно и не следует - код тот же, а перерегистрация кода бессмысленна.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentServicesResponse"}}}, "tags": ["Платежи"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/v1/payments/{payment_id}/feedback": {"post": {"operationId": "Обновить отзыв платежа.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PaymentsIDFeedbackRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentResponse"}}}, "tags": ["Платежи"]}, "parameters": [{"name": "payment_id", "in": "path", "required": true, "type": "string"}]}, "/v1/payments/{payment_id}/refund": {"post": {"operationId": "Создать возврат платежа", "description": "Совершение возврата денежных средств по id платежа", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RefundCreateRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RefundCreateResponse"}}}, "tags": ["Возвраты"]}, "parameters": [{"name": "payment_id", "in": "path", "required": true, "type": "string"}]}, "/v1/payments/{payment_id}/refunds": {"get": {"operationId": "Получить список возвратов по платежу", "description": "Получение списка возвратов по конкретному платежу", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/RefundResponse"}}}}, "tags": ["Возвраты"]}, "parameters": [{"name": "payment_id", "in": "path", "required": true, "type": "string"}]}, "/v1/projects/": {"get": {"operationId": "Получить проект", "description": "", "parameters": [{"name": "frontend_url", "in": "query", "required": false, "type": "string", "format": "uri", "maxLength": 100, "x-nullable": true}, {"name": "web_app_url", "in": "query", "description": "URL Web App приложения", "required": false, "type": "string", "format": "uri", "maxLength": 100, "minLength": 1}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProjectResponse"}}, "404": {"description": "Не найден объект."}, "400": {"description": "Найдено несколько объектов или неправильные данные."}}, "tags": ["Проекты"]}, "parameters": []}, "/v1/receipts/{id}/": {"get": {"operationId": "Получить чек id", "description": "Возвращает чек по идентификатору.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReceiptResponseData"}}}, "tags": ["Чеки"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/v1/receipts/{id}/send/": {"post": {"operationId": "Отправить чек", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReceiptSend"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResponseReceiptSend"}}}, "tags": ["Чеки"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/v1/refunds/{id}/": {"get": {"operationId": "Получить возврат по id", "description": "Получение возврата по id", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RefundByIDResponse"}}}, "tags": ["Возвраты"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/v1/report_subscriptions/": {"get": {"operationId": "Получить подписки на отчеты магазина", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportSubscriptionsViewResponse"}}}, "tags": ["Подписки на отчеты"]}, "post": {"operationId": "Создать подписку на отчеты.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportSubscriptionsPostViewRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportSubscriptionViewResponse"}}}, "tags": ["Подписки на отчеты"]}, "parameters": []}, "/v1/report_subscriptions/{report_subscription_id}/": {"get": {"operationId": "Получить подписку на отчет магазина", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportSubscriptionViewResponse"}}}, "tags": ["Подписки на отчеты"]}, "put": {"operationId": "Изменить подписку на отчеты.", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportSubscriptionsPutViewRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportSubscriptionViewResponse"}}}, "tags": ["Подписки на отчеты"]}, "delete": {"operationId": "Удалить подписку на отчеты.", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResponseSuccess"}}}, "tags": ["Подписки на отчеты"]}, "parameters": [{"name": "report_subscription_id", "in": "path", "required": true, "type": "string"}]}, "/v1/settings/sbp/banks": {"get": {"operationId": "Получить список банков NSPK", "description": "Получение списка банков NSPK", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SbpBank"}}}}}}, "tags": ["Банки СБП"]}, "parameters": []}, "/v1/shops/": {"get": {"operationId": "Получить список доступных магазинов", "description": "", "parameters": [{"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}, {"name": "search", "in": "query", "description": "Поиск по ['name', 'legal_entity__name', 'legal_entity__INN']", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MerchantsListPaginatedResponse"}}}, "tags": ["Магазины"]}, "parameters": []}, "/v1/shops/accounts/": {"get": {"operationId": "Получить список аккаунтов", "description": "", "parameters": [{"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccountListPaginatedResponse"}}}, "consumes": ["multipart/form-data"], "tags": ["Аккаунты магазина"]}, "post": {"operationId": "Создать аккаунт", "description": "", "parameters": [{"name": "logo", "in": "formData", "description": "Файл изображения логотипа аккаунта", "required": false, "type": "file"}, {"name": "first_name", "in": "formData", "description": "Имя", "required": false, "type": "string"}, {"name": "last_name", "in": "formData", "description": "Фамилия", "required": false, "type": "string"}, {"name": "email", "in": "formData", "description": "Email", "required": true, "type": "string"}, {"name": "phone", "in": "formData", "description": "Телефон", "required": false, "type": "string"}, {"name": "is_master_contact", "in": "formData", "description": "Является ли мастер-контактом", "required": false, "type": "boolean"}, {"name": "is_refund_manager", "in": "formData", "description": "Является ли менеджером возвратов", "required": false, "type": "boolean"}, {"name": "is_view_all_transactions", "in": "formData", "description": "Может ли просматривать все транзакции", "required": false, "type": "boolean"}, {"name": "is_subscribed", "in": "formData", "description": "Подписан ли на уведомления", "required": false, "type": "boolean"}, {"name": "tz", "in": "formData", "description": "Часовой пояс", "required": false, "type": "string", "enum": ["UTC-12", "UTC-11", "UTC-10", "UTC-9", "UTC-8", "UTC-7", "UTC-6", "UTC-5", "UTC-4", "UTC-3", "UTC-2", "UTC-1", "UTC+0", "UTC+1", "UTC+2", "UTC+3", "UTC+4", "UTC+5", "UTC+6", "UTC+7", "UTC+8", "UTC+9", "UTC+10", "UTC+11", "UTC+12", "UTC+13", "UTC+14"]}, {"name": "shops_ids", "in": "formData", "description": "Список id магазинов (JSON массив, например: [1, 2, 3])", "required": false, "type": "string"}, {"name": "is_accepted_all_shops", "in": "formData", "description": "Если True, магазины у аккаунта не будут указаны и shops_ids игнорируются", "required": false, "type": "boolean"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccountResponse"}}, "400": {"description": "Специфичные для данного метода коды ошибок.", "schema": {"$ref": "#/definitions/AccountPostResponseSpecificError"}}}, "consumes": ["multipart/form-data"], "tags": ["Аккаунты магазина"]}, "parameters": []}, "/v1/shops/accounts/{account_id}/": {"get": {"operationId": "Получить аккаунт по id", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccountResponse"}}}, "consumes": ["multipart/form-data"], "tags": ["Аккаунты магазина"]}, "patch": {"operationId": "Обновить аккаунт", "description": "", "parameters": [{"name": "logo", "in": "formData", "description": "Файл изображения логотипа аккаунта или строка 'delete' для удаления", "required": false, "type": "file"}, {"name": "first_name", "in": "formData", "description": "Имя", "required": false, "type": "string"}, {"name": "last_name", "in": "formData", "description": "Фамилия", "required": false, "type": "string"}, {"name": "email", "in": "formData", "description": "Email", "required": false, "type": "string"}, {"name": "phone", "in": "formData", "description": "Телефон", "required": false, "type": "string"}, {"name": "is_master_contact", "in": "formData", "description": "Является ли мастер-контактом", "required": false, "type": "boolean"}, {"name": "is_refund_manager", "in": "formData", "description": "Является ли менеджером возвратов", "required": false, "type": "boolean"}, {"name": "is_view_all_transactions", "in": "formData", "description": "Может ли просматривать все транзакции", "required": false, "type": "boolean"}, {"name": "is_accepted_all_shops", "in": "formData", "description": "Если True, магазины у аккаунта не будут указаны и merchant_ids игнорируются", "required": false, "type": "boolean"}, {"name": "is_subscribed", "in": "formData", "description": "Подписан ли на уведомления", "required": false, "type": "boolean"}, {"name": "tz", "in": "formData", "description": "Часовой пояс", "required": false, "type": "string", "enum": ["UTC-12", "UTC-11", "UTC-10", "UTC-9", "UTC-8", "UTC-7", "UTC-6", "UTC-5", "UTC-4", "UTC-3", "UTC-2", "UTC-1", "UTC+0", "UTC+1", "UTC+2", "UTC+3", "UTC+4", "UTC+5", "UTC+6", "UTC+7", "UTC+8", "UTC+9", "UTC+10", "UTC+11", "UTC+12", "UTC+13", "UTC+14"]}, {"name": "is_generate_invite_token", "in": "formData", "description": "Если True, то будет сгенерирован новый invite_token", "required": false, "type": "boolean"}, {"name": "preferred_notification_channel", "in": "formData", "description": "Предпочтительный канал уведомлений", "required": false, "type": "string", "enum": ["tg", "max", "push", "email"]}, {"name": "tips_payout_phone", "in": "formData", "description": "Телефон для вывода чаевых по СБП (принимает 10-11 цифр, сохраняется 10 без 8/7)", "required": false, "type": "string"}, {"name": "tips_payout_bank_id", "in": "formData", "description": "ID банка-получателя для вывода чаевых по СБП", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccountResponse"}}, "400": {"description": "Специфичные для данного метода коды ошибок.", "schema": {"$ref": "#/definitions/AccountPatchResponseSpecificError"}}}, "consumes": ["multipart/form-data"], "tags": ["Аккаунты магазина"]}, "delete": {"operationId": "Удалить аккаунт", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResponseSuccess"}}}, "consumes": ["multipart/form-data"], "tags": ["Аккаунты магазина"]}, "parameters": [{"name": "account_id", "in": "path", "required": true, "type": "string"}]}, "/v1/shops/accounts/{account_id}/accepted_shops/": {"get": {"operationId": "Получить список магазинов аккаунта", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MerchantIDNameResponse"}}}, "tags": ["Аккаунты магазина"]}, "put": {"operationId": "Обновить список магазинов аккаунта", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ShopsAccountUpdateMerchantsRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MerchantIDNameResponse"}}}, "tags": ["Аккаунты магазина"]}, "parameters": [{"name": "account_id", "in": "path", "required": true, "type": "string"}]}, "/v1/shops/transactions": {"get": {"operationId": "Получить список транзакций магазина", "description": "Получение списка транзакций текущего магазина", "parameters": [{"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}, {"name": "search", "in": "query", "description": "Поиск по Поиск по назначению платежа, qrc_id, trx_id, ФИО оператора, суммам платежа", "type": "string"}, {"name": "start_date", "in": "query", "description": "Период с:", "type": "string"}, {"name": "end_date", "in": "query", "description": "Период по:", "type": "string"}, {"name": "payment_types", "in": "query", "description": "Типы платежей - список, через запятую. По умолчанию все.", "type": "string", "enum": [1, 2, 14, 15, 16]}, {"name": "type", "in": "query", "description": "Тип транзакции", "type": "string", "enum": ["payment", "refund"]}, {"name": "statuses", "in": "query", "description": "Статусы платежа - список, через запятую. По умочанию все", "type": "string", "enum": ["completed", "paid", "postponed", "cancelled", "new", "in_progress", "in_finish", "rejected", "processing", "error"]}, {"name": "payment_amount_gte", "in": "query", "description": "Значение, равное или большее сумме платежа", "type": "string"}, {"name": "payment_amount_lte", "in": "query", "description": "Значение, равное или меньшее сумме платежа", "type": "string"}, {"name": "payment_payout_amount_gte", "in": "query", "description": "Значение, равное или большее сумме платежа в валюте выплаты", "type": "string"}, {"name": "payment_payout_amount_lte", "in": "query", "description": "Значение, равное или меньшее сумме платежа в валюте выплаты", "type": "string"}, {"name": "operator", "in": "query", "description": "ID оператора", "type": "integer"}, {"name": "stars", "in": "query", "description": "Оценка в отзыве (список чисел от 1 до 5). Через запятую.", "type": "array", "items": {"type": "integer", "enum": [1, 2, 3, 4, 5]}, "collectionFormat": "csv"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TransactionPaginate"}}}, "tags": ["Транзакции магазина"]}, "parameters": []}, "/v1/shops/{shop_id}": {"get": {"operationId": "Получить магазин по id", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ShopByIDResponse"}}}, "consumes": ["multipart/form-data"], "tags": ["Магазины"]}, "patch": {"operationId": "Обновить магазин", "description": "", "parameters": [{"name": "logo", "in": "formData", "description": "Файл изображения логотипа магазина или строка 'delete' для удаления", "required": false, "type": "file"}, {"name": "phone", "in": "formData", "description": "Телефон юридического лица в формате +Ц, например: +7914ххххххх", "required": false, "type": "string"}, {"name": "web_site", "in": "formData", "description": "Сайт юридического лица", "required": false, "type": "string"}, {"name": "address", "in": "formData", "description": "Адрес юридического лица", "required": false, "type": "string"}, {"name": "timezone", "in": "formData", "description": "Часовой пояс юридического лица", "required": false, "type": "string", "enum": ["UTC-12", "UTC-11", "UTC-10", "UTC-9", "UTC-8", "UTC-7", "UTC-6", "UTC-5", "UTC-4", "UTC-3", "UTC-2", "UTC-1", "UTC+0", "UTC+1", "UTC+2", "UTC+3", "UTC+4", "UTC+5", "UTC+6", "UTC+7", "UTC+8", "UTC+9", "UTC+10", "UTC+11", "UTC+12", "UTC+13", "UTC+14"]}, {"name": "name", "in": "formData", "description": "Название магазина", "required": false, "type": "string"}, {"name": "default_payment_description", "in": "formData", "description": "Стандартное описание платежа", "required": false, "type": "string"}, {"name": "type", "in": "formData", "description": "Тип магазина.", "required": false, "type": "string", "enum": ["base", "restaurant"]}, {"name": "is_qr_nspk_in_bot", "in": "formData", "description": "Флаг включения QR-кода НСПК в боте", "required": false, "type": "boolean"}, {"name": "success_url", "in": "formData", "description": "URL страницы успешной оплаты", "required": false, "type": "string"}, {"name": "success_url_description", "in": "formData", "description": "Название кнопки страницы успешной оплаты", "required": false, "type": "string"}, {"name": "is_save_by_default", "in": "formData", "description": "Флаг включения  способа оплаты по умолчанию", "required": false, "type": "boolean"}, {"name": "feedback_settings", "in": "formData", "description": "Настройки отзывов (JSON объект). Пример: {\"enable\": true, \"external_link\": \"https://example.com\", \"rating_threshold\": 4}.\n                enable (boolean, обязателен) - Флаг доступности опции 'Отзывы'.\n                external_link (string, nullable) - Внешняя ссылка для перенаправления на сайт для отзывов. Для удаления используйте null.\n                rating_threshold (integer, nullable, 1-5) - Пороговая оценка для редиректа на внешний сайт отзывов. Если порог не достигнут, отзыв обрабатывается внутри приложения.\n", "required": false, "type": "string"}, {"name": "tips_settings", "in": "formData", "description": "Настройки чаевых (JSON объект). Пример: {\"enable\": true, \"acc_type\": \"legalentity_acc\", \"managers\": [1, 2, 3]}.\n                enable (boolean, обязателен) - Флаг включения чаевых.\n                acc_type (string, обязателен) - Тип счета для чаевых: \"legalentity_acc\", \"account_common_acc\" или \"account_acc\".\n                managers (array[integer], обязателен) - Список account_id менеджеров, которые могут распределять чаевые.\n", "required": false, "type": "string"}, {"name": "brandpage_enable", "in": "formData", "description": "Флаг включения брендированной страницы оплаты. Доступно только master-contact; brandpage_enable=true требует активной подписки Pro (иначе отказ).", "required": false, "type": "boolean"}, {"name": "brandpage_logo_orig", "in": "formData", "description": "Оригинал логотипа брендстраницы (файл PNG/JPEG/WebP/HEIC, ≤ 3 МБ) или строка 'delete' для удаления логотипа. Пути в MinIO формирует бэкенд из merchant_id.", "required": false, "type": "file"}, {"name": "brandpage_logo_crop_meta", "in": "formData", "description": "Параметры кропа логотипа (JSON-строка). Пример: {\"x\": 50, \"y\": 50, \"zoom\": 1}.\n                x (number, 0..100) - сдвиг области кропа по оси X в % оригинала.\n                y (number, 0..100) - сдвиг области кропа по оси Y в % оригинала.\n                zoom (number, 0..3) - масштаб (1 = изображение вписано в область кропа).\n", "required": false, "type": "string"}, {"name": "brandpage_background_orig", "in": "formData", "description": "Оригинал фона брендстраницы (файл PNG/JPEG/WebP/HEIC, ≤ 3 МБ) или строка 'delete' для удаления фона. Пути в MinIO формирует бэкенд из merchant_id.", "required": false, "type": "file"}, {"name": "brandpage_background_crop_meta", "in": "formData", "description": "Параметры кропа фона (JSON-строка). Пример: {\"x\": 50, \"y\": 50, \"zoom\": 1}.\n                x (number, 0..100) - сдвиг области кропа по оси X в % оригинала.\n                y (number, 0..100) - сдвиг области кропа по оси Y в % оригинала.\n                zoom (number, 0..3) - масштаб (1 = изображение вписано в область кропа).\n", "required": false, "type": "string"}, {"name": "brandpage_shop_description", "in": "formData", "description": "Подпись под суммой на брендстранице (строка, ≤ 50 символов, без управляющих символов).", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ShopsIDPatchResponse"}}}, "consumes": ["multipart/form-data"], "tags": ["Магазины"]}, "parameters": [{"name": "shop_id", "in": "path", "required": true, "type": "string"}]}, "/v1/stories/": {"get": {"operationId": "Получить сторис", "description": "Возвращает список активных сторис, подходящих под условия аккаунта. Сторис с истёкшим окном hide_after_read_hours после первого просмотра исключаются.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StoriesResponse"}}}, "tags": ["Сторис"]}, "parameters": []}, "/v1/stories/read/": {"post": {"operationId": "Отметить сторис прочитанной", "description": "Идемпотентная отметка просмотра сторис текущим аккаунтом. Повторный вызов с тем же story_key возвращает успех без дубликата.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StoryReadRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StoryReadResponse"}}}, "tags": ["Сторис"]}, "parameters": []}, "/v1/support/message/": {"get": {"operationId": "Получить список сообщений", "description": "Сообщения пользовательского чата (сообщения тикетов скрываются автоматически). Передача `support_ticket_id` доступна только авторизованному аккаунту и позволяет загрузить переписку конкретного тикета.", "parameters": [{"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}, {"name": "support_ticket_id", "in": "query", "description": "ID обращения третьей линии для выборки сообщений конкретного тикета.", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupportMessageGetPaginatedResponse"}}}, "tags": ["Поддержка"]}, "post": {"operationId": "Создать сообщение в поддержку", "description": "\nТребуется либо аккаунт из аутентификации, либо user_id из cookies.\nБез параметра `support_ticket_id` сообщение будет помещено в чат аккаунта/пользователя.\nЕсли указан `support_ticket_id`, то его можно передавать только от имени владельца аккаунта, тикет\nдолжен быть в состоянии OPEN, а сообщение автоматически привяжется к переписке тикета.\nДля прикрепления файлов передавайте имена документов в поле `attachment_doc_names` —\nв ответе придут временные ссылки для загрузки, а при последующих запросах сообщения получат свежие ссылки на скачивание.\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SupportMessagePostRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupportMessageByIdGetResponse"}}}, "tags": ["Поддержка"]}, "parameters": []}, "/v1/support/message/unread/": {"get": {"operationId": "Количество непрочитанных сообщений", "description": "Количество непрочитанных сообщений пользовательского чата (сообщения тикетов не учитываются). Доступно для аккаунта или user_id из cookies.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupportMessageGetUnreadResponse"}}}, "tags": ["Поддержка"]}, "parameters": []}, "/v1/support/message/{message_id}/read/": {"post": {"operationId": "Прочитать сообщение из поддержки", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResponseSuccess"}}}, "tags": ["Поддержка"]}, "parameters": [{"name": "message_id", "in": "path", "required": true, "type": "string"}]}, "/v1/support/tickets/": {"get": {"operationId": "Список обращений третьей линии", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupportTicketListResponse"}}}, "tags": ["Поддержка"]}, "parameters": []}, "/v1/support/tickets/{ticket_id}/": {"get": {"operationId": "Детали обращения третьей линии", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupportTicketDetailResponse"}}}, "tags": ["Поддержка"]}, "parameters": [{"name": "ticket_id", "in": "path", "required": true, "type": "string"}]}, "/v1/tasks/{task_id}/": {"get": {"operationId": "Получить задачу мерчанта", "description": "Возвращает подробную информацию о задаче, принадлежащей текущему мерчанту.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TaskDetail"}}, "401": {"description": "Не авторизован"}, "403": {"description": "Доступ запрещен"}, "404": {"description": "Задача не найдена"}}, "tags": ["Задачи"]}, "parameters": [{"name": "task_id", "in": "path", "required": true, "type": "string"}]}, "/v1/templates/": {"get": {"operationId": "Получить список шаблонов", "description": "", "parameters": [{"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TemplatesGetPaginatedResponse"}}}, "tags": ["Шаблоны"]}, "post": {"operationId": "Создать шаблон", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TemplatePostRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TemplatePostResponse"}}, "400": {"description": "Специфичные для данного метода коды ошибок.", "schema": {"$ref": "#/definitions/TemplatePostResponseSpecificError"}}}, "tags": ["Шаблоны"]}, "parameters": []}, "/v1/templates/{template_id}/": {"get": {"operationId": "Получить шаблон по id", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TemplatesIDResponse"}}}, "tags": ["Шаблоны"]}, "patch": {"operationId": "Обновить шаблон", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TemplateIDPatchRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TemplatesIDResponse"}}}, "tags": ["Шаблоны"]}, "delete": {"operationId": "Удалить шаблон по id", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResponseSuccess"}}}, "tags": ["Шаблоны"]}, "parameters": [{"name": "template_id", "in": "path", "required": true, "type": "string"}]}, "/v1/templates/{template_id}/download/{lang}/": {"get": {"operationId": "Скачать статический QR шаблона", "description": "", "parameters": [], "responses": {"200": {"description": "PDF-файл с QR-кодом", "schema": {"type": "file"}}}, "tags": ["Шаблоны"]}, "parameters": [{"name": "template_id", "in": "path", "required": true, "type": "string"}, {"name": "lang", "in": "path", "required": true, "type": "string"}]}, "/v1/templates/{template_id}/payment-info": {"get": {"operationId": "Получить данные страницы оплаты по шаблону", "description": "Данные трамплина - страницы плательщика для статического кода НСПК: описание и цвет шаблона, узкий блок магазина для брендинга, сумма (`null` у шаблона без суммы), идентификатор кода, универсальная ссылка НСПК и перечень платёжных сервисов.\n\nПлатёж не создаётся и не изменяется, идентификатора платежа в ответе нет: опрашивать статус нечего, результат оплаты плательщик видит в приложении банка.\n\nЛенты банков по умолчанию не отдаются - только по явному `?with_banks=true`. На десктопе они не нужны: там плательщик сканирует один QR из `static_url`, а выбор между СБП и цифровым рублём делает приложение банка. Форма ленты совпадает с `GET /v1/payments/{id}/services`, коды сервисов - с `payment_services` ответа платежа.\n\nТолько для шаблонов с общим статическим кодом НСПК. Шаблону ITPay и шаблону с персональным кодом приходит `400` с кодом `11227`: у них своя страница оплаты с созданием платежа.\n\nПрочие отказы: `403` (`10403`) - шаблон принадлежит другому мерчанту, `429` (`10429`) - превышено ограничение частоты, `500` (`10500`) - шаблон прочитать не удалось.", "parameters": [{"name": "with_banks", "in": "query", "description": "Отдать ленты банков в `payment_service_feeds`. По умолчанию ленты не отдаются: на десктопе они не нужны, а справочник это 195 банков по три ссылки. Истинные значения: true, 1, yes", "type": "boolean"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TemplatePaymentInfoResponse"}}, "400": {"description": "Трамплин для этого шаблона недоступен.", "schema": {"$ref": "#/definitions/TemplatePaymentInfoBadRequest"}}, "404": {"description": "Активного шаблона с таким идентификатором нет.", "schema": {"$ref": "#/definitions/TemplatePaymentInfoNotFound"}}}, "tags": ["Шаблоны"]}, "parameters": [{"name": "template_id", "in": "path", "required": true, "type": "string"}]}, "/v1/tips/": {"post": {"operationId": "Создать платеж-чаевые", "description": "API. Создание standalone чаевых (без привязки к заказу).\nАвторизация через системный Basic API Key SSR-фронтенда.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TipsPostRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentResponse"}}}, "tags": ["Чаевые"]}, "parameters": []}, "/v1/tips/goals/": {"get": {"operationId": "Получить цели накопления чаевых", "description": "API. Цели накопления чаевых сотрудника: список и создание.", "parameters": [{"name": "status", "in": "query", "description": "Статус цели для фильтрации (одно значение)", "type": "string", "enum": ["active", "achieved", "archived"]}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TipsGoalsResponse"}}}, "tags": ["Чаевые"]}, "post": {"operationId": "Создать цель накопления чаевых", "description": "API. Цели накопления чаевых сотрудника: список и создание.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TipsGoalCreateRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TipsGoalDetailResponse"}}}, "tags": ["Чаевые"]}, "parameters": []}, "/v1/tips/goals/{id}/": {"patch": {"operationId": "Изменить цель накопления чаевых", "summary": "API. Цель накопления чаевых сотрудника: изменение и удаление.", "description": "Режим чаевых мерчанта (``enable``, ``acc_type``) здесь не проверяется:\nцель переживает смену режима и остаётся управляемой владельцем, из\nпубличной витрины она уходит по правилу доступности.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TipsGoalPatchRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TipsGoalDetailResponse"}}}, "tags": ["Чаевые"]}, "delete": {"operationId": "Удалить цель накопления чаевых", "summary": "API. Цель накопления чаевых сотрудника: изменение и удаление.", "description": "Режим чаевых мерчанта (``enable``, ``acc_type``) здесь не проверяется:\nцель переживает смену режима и остаётся управляемой владельцем, из\nпубличной витрины она уходит по правилу доступности.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResponseSuccess"}}}, "tags": ["Чаевые"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/v1/tips/qr/": {"get": {"operationId": "Получить QR-код для чаевых", "description": "API. Получение QR-кода для приёма чаевых.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TipsQRResponse"}}}, "tags": ["Чаевые"]}, "parameters": []}, "/v1/tips/quote": {"post": {"operationId": "Предрасчёт чаевых (quote)", "summary": "API. Предрасчёт чаевых для страницы оплаты (плательщик).", "description": "Возвращает процент/тариф из сетки, комиссию ``c`` и итоговые суммы для обоих\nрежимов (``on_top``/``from_tips``). Значения согласованы с фактическим\nсозданием (``POST /v1/tips/``) при том же ``amount``/``shop_id``.\n\nАвторизация консистентна с витриной чаевых ``GET /tips/shop/``\n(``AllowMerchantPermission``); системный Basic-ключ SSR-фронтенда, которым\nоплачивает плательщик, удовлетворяет этот пермишен (у ключа есть merchant).", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TipsQuoteRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TipsQuoteResponse"}}}, "tags": ["Чаевые"]}, "parameters": []}, "/v1/tips/shop/{shop_id}/": {"get": {"operationId": "Получить магазин с настройками чаевых", "summary": "API. Публичная витрина чаевых магазина для страницы плательщика.", "description": "Принадлежность ``shop_id`` ключу авторизации не проверяется: SSR-лендинг\nработает системным Basic-ключом и запрашивает произвольный магазин.\nКлюч публичный и перебираемый, поэтому приватность обеспечивается\nминимизацией данных: балансов, контактов и идентификаторов платежей в\nответе быть не должно.", "parameters": [{"name": "account_id", "in": "query", "description": "ID аккаунта-получателя персонального QR (опционально)", "type": "integer"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TipsShopResponse"}}}, "tags": ["Чаевые"]}, "parameters": [{"name": "shop_id", "in": "path", "required": true, "type": "string"}]}, "/v1/tips/transactions/": {"get": {"operationId": "Получить историю транзакций чаевых", "description": "API. История транзакций чаевых с фильтрами и агрегатами.", "parameters": [{"name": "page", "in": "query", "description": "Номер страницы", "type": "integer"}, {"name": "page_size", "in": "query", "description": "Объектов на странице", "type": "integer"}, {"name": "start_date", "in": "query", "description": "Период с:", "type": "string"}, {"name": "end_date", "in": "query", "description": "Период по:", "type": "string"}, {"name": "type", "in": "query", "description": "Тип операции (можно несколько через запятую)", "type": "string", "enum": ["received", "transfer", "withdrawal"]}, {"name": "status", "in": "query", "description": "Статус операции (можно несколько через запятую)", "type": "string", "enum": ["pending", "processing", "completed", "failed", "refunded"]}, {"name": "account_id", "in": "query", "description": "ID аккаунта для фильтрации", "type": "integer"}, {"name": "amount_gte", "in": "query", "description": "Минимальная сумма операции", "type": "number"}, {"name": "amount_lte", "in": "query", "description": "Максимальная сумма операции", "type": "number"}, {"name": "search", "in": "query", "description": "Поиск по ФИО аккаунта или названию мерчанта", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TipsTransactionsResponse"}}}, "tags": ["Чаевые"]}, "parameters": []}, "/v1/tips/transactions/{id}/": {"get": {"operationId": "Получить транзакцию чаевых по ID", "description": "API. Детальная информация о транзакции чаевых по ID.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TipTransactionDetailResponse"}}}, "tags": ["Чаевые"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/v1/tips/transfers/": {"post": {"operationId": "Перевести чаевые", "description": "API. Перевод чаевых между аккаунтами или с общего баланса на персональный.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TipsTransfersRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TipTransaction"}}}, "tags": ["Чаевые"]}, "parameters": []}, "/v1/tips/withdrawals/": {"post": {"operationId": "Вывести чаевые", "description": "API. Вывод чаевых на банковский счёт сотрудника по СБП.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TipsWithdrawalsRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TipTransaction"}}}, "tags": ["Чаевые"]}, "parameters": []}}, "definitions": {"AccountingSystemRegisterRequest": {"required": ["registration_code", "iiko_terminal_group_id", "iiko_organization_id", "plugin_version", "api_version"], "type": "object", "properties": {"registration_code": {"title": "Registration code", "type": "string", "maxLength": 100, "minLength": 1}, "iiko_terminal_group_id": {"title": "Iiko terminal group id", "type": "string", "maxLength": 100, "minLength": 1}, "iiko_organization_id": {"title": "Iiko organization id", "type": "string", "maxLength": 100, "minLength": 1}, "plugin_version": {"title": "Plugin version", "type": "string", "maxLength": 50, "minLength": 1}, "api_version": {"title": "Api version", "type": "string", "maxLength": 50, "minLength": 1}, "iiko_version": {"title": "Iiko version", "type": "string", "default": "", "maxLength": 50}, "restaurant_name": {"title": "Restaurant name", "type": "string", "default": "", "maxLength": 255}}}, "AccountingSystemRegisterResponse": {"required": ["public_id", "api_secret", "used_ports"], "type": "object", "properties": {"public_id": {"title": "Public id", "type": "string", "minLength": 1}, "api_secret": {"title": "Api secret", "type": "string", "minLength": 1}, "used_ports": {"type": "array", "items": {"type": "integer"}}}}, "PlaceShort": {"type": "object", "properties": {"id": {"title": "Id", "description": "Уникальный идентификатор", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "description": "Наименование места", "type": "string", "readOnly": true, "minLength": 1}}}, "SectionGroup": {"required": ["id", "name", "places"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "x-nullable": true}, "name": {"title": "Name", "type": "string"}, "places": {"type": "array", "items": {"$ref": "#/definitions/PlaceShort"}}}}, "SectionGroupResponse": {"required": ["sections"], "type": "object", "properties": {"sections": {"type": "array", "items": {"$ref": "#/definitions/SectionGroup"}}}}, "AlertsPagination": {"required": ["current_page", "total_pages", "total_count_page", "total_count_period", "alerts"], "type": "object", "properties": {"current_page": {"title": "Current page", "type": "integer"}, "total_pages": {"title": "Total pages", "type": "integer"}, "total_count_page": {"title": "Total count page", "type": "integer"}, "total_count_period": {"title": "Total count period", "type": "integer"}, "alerts": {"type": "array", "items": {"type": "string", "x-nullable": true}}}}, "AlertsUnreadCountResponse": {"required": ["alerts_count"], "type": "object", "properties": {"alerts_count": {"title": "Alerts count", "type": "integer"}}}, "AppAlertGet": {"required": ["id", "created", "title", "description", "is_read", "readed"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid"}, "created": {"title": "Created", "type": "string", "format": "date-time"}, "title": {"title": "Title", "type": "string", "minLength": 1}, "description": {"title": "Description", "type": "string", "minLength": 1}, "is_read": {"title": "Is read", "type": "boolean"}, "readed": {"title": "Readed", "type": "string", "format": "date-time", "x-nullable": true}, "actions": {"title": "Actions", "type": "string", "readOnly": true}}}, "AppAlertIDGetResponse": {"required": ["alert"], "type": "object", "properties": {"alert": {"$ref": "#/definitions/AppAlertGet"}}}, "AlertsReadSuccessResponse": {"type": "object", "properties": {"success": {"title": "Success", "type": "boolean", "default": true}}}, "ApiEventDocItem": {"required": ["id", "type_event", "status", "created_at"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid"}, "type_event": {"title": "Type event", "type": "string", "minLength": 1}, "status": {"title": "Status", "type": "string", "minLength": 1}, "created_at": {"title": "Created at", "type": "string", "format": "date-time"}}}, "ApiEventsListDocResponse": {"required": ["current_page", "total_pages", "total_count_page", "total_count_period", "events"], "type": "object", "properties": {"current_page": {"title": "Current page", "description": "Текущая страница", "type": "integer"}, "total_pages": {"title": "Total pages", "description": "Всего страниц", "type": "integer"}, "total_count_page": {"title": "Total count page", "description": "Количество на странице", "type": "integer"}, "total_count_period": {"title": "Total count period", "description": "Количество всего", "type": "integer"}, "events": {"type": "array", "items": {"$ref": "#/definitions/ApiEventDocItem"}}}}, "ApiEventLogDocItem": {"required": ["id", "created_at", "status_code"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid"}, "created_at": {"title": "Created at", "type": "string", "format": "date-t
[...]
